In [1]:
import pandas as pd
data=pd.read_csv('/Users/nirbhaysedha/Documents/MACHINE_LEARNING_100DAYS/datasets/titanic_dataset.csv')

In [2]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
from sklearn.compose import ColumnTransformer

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
data.drop(columns=['Name','Ticket','Cabin','Embarked'],inplace=True)

In [8]:
data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(data.drop(columns=['Survived']),data['Survived'],test_size=0.2)

In [11]:
x_train.isnull().sum()

PassengerId      0
Pclass           0
Sex              0
Age            142
SibSp            0
Parch            0
Fare             0
dtype: int64

In [12]:
x_train.head()

     PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
613          614       3    male   NaN      0      0   7.7500
610          611       3  female  39.0      1      5  31.2750
348          349       3    male   3.0      1      1  15.9000
284          285       1    male   NaN      0      0  26.0000
496          497       1  female  54.0      1      0  78.2667

In [13]:
Feature_transformer=ColumnTransformer([('first',SimpleImputer(),[3]),
                                      ('Second',OneHotEncoder(),[2])],
                                     remainder='passthrough')

In [14]:
x_train_transformed=Feature_transformer.fit_transform(x_train)

In [15]:
x_test_transfomed=Feature_transformer.transform(x_test)

In [16]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [17]:
LOGISTIC_MODEL=LogisticRegression()
DECISION_MODEL=DecisionTreeClassifier()

In [18]:
x_train_transformed

array([[29.94122807,  0.        ,  1.        , ...,  0.        ,
         0.        ,  7.75      ],
       [39.        ,  1.        ,  0.        , ...,  1.        ,
         5.        , 31.275     ],
       [ 3.        ,  0.        ,  1.        , ...,  1.        ,
         1.        , 15.9       ],
       ...,
       [35.        ,  1.        ,  0.        , ...,  1.        ,
         1.        , 20.25      ],
       [24.        ,  0.        ,  1.        , ...,  0.        ,
         0.        , 79.2       ],
       [60.        ,  0.        ,  1.        , ...,  1.        ,
         1.        , 79.2       ]])

In [19]:
LOGISTIC_MODEL.fit(x_train_transformed,y_train)
DECISION_MODEL.fit(x_train_transformed,y_train)

/Users/nirbhaysedha/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

DecisionTreeClassifier()

In [20]:
y_prediction_log=LOGISTIC_MODEL.predict(x_test_transfomed)
y_prediction_dec=DECISION_MODEL.predict(x_test_transfomed)

In [21]:
from sklearn.metrics import accuracy_score
print(f"the accuracy of Logistic Regression is {accuracy_score(y_test,y_prediction_log)*100}%")
print(f"the accuracy of Decision Tree is {accuracy_score(y_test,y_prediction_dec)*100}%")

the accuracy of Logistic Regression is 74.86033519553072%
the accuracy of Decision Tree is 69.83240223463687%